body {

	padding: 0;
	margin-top: 50px;
	background-image: url('../img/Thrones.png');
	background-repeat: repeat;
	background-size: cover;	
	background-position: center;
	height: 300px;
	width: 100%;
 }


h3{
	margin-left: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar{
  opacity: 0.9;
}

.divofforgt{
    margin-left: 30%;
}

.divforFighterGuild{
    margin-left: 25%;
    padding-bottom: 1em;
}

#logoutMessage{
	padding-top: 200px;
        opacity: 0.4;
}

img#blason{

	width: 14%;
	margin-top: 0px;
	margin-left: 5%;
	display: inline;
	margin-top: 50px;
}

img#titre{
	width: 40%;
	margin-top: 0px;
	margin-left: 30%;
}

img#footer{
	width: 101%;
	height: auto;
	margin-top: 0px;
	margin-bottom: -10px;
}

img#footerindex{
	width: 101%;
	margin-top: 350px;
	position: relative;
}

img#footerlogin{
	width: 101%;
	margin-top: 550px;
	position: relative;
}

img#footersight{
	width: 101%;
	margin-top: 0px;
	position: relative;
}

#container{
	margin-left: 20px;
	position: fixed;
}

#fightercreate{
	margin-top: 200px;
	margin-left: 34%;
	width: 80%;
	position: absolute;
}

#sight{
	margin-top: 50px;
	width: 50%;
	float: right;
}

#login{
	margin-top: 0px;
	margin-bottom: 100px;
	margin-left: 37%;
	width: 80%;
	position: absolute;
}

#sightform{
	padding-top: 20px;
	width: 200%
}

#rules{
	margin-top: 0px;
	padding-bottom: 120px;
	margin-left: 20%;
	width: 60%;
	position: absolute;
}

h2{
	text-align: center;
	text-decoration: bold;
	font-size: 40px;
}

ol{
	text-decoration: bold;
	font-size: 16px;
}

#flashMessage{
	padding: 10px;
	background-color: green;
	opacity:0.5;
}

#tablefighter{
	width: 80%;
	margin-top: 0px;
}

#tablesurr{
	width: 80%;
	margin-top: 0px;

}

#PlayerFighter{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%
}

#ML10{
	margin-left: 10%;
}

#barcontainer{
	width: 50%;
	
}


h4{
	color: black;
}

#sighttables{
	float: left;
	margin-left: 10%;
	width: 40%;
	display: inline-block;
	margin-top: 33px;
}

.imgsight{
	height: 50px;
	padding-left: 10px;
	padding-right: 50px;
}

img#avatar{
	width: 75px;
	height: 100px;
	margin-right: 20px;
	margin-left:10px;

}




