<!DOCTYPE html>
<html>
<head>
	<?php $this->assign ('title','Home'); ?>
</head>
<body>
	

	<img id='titre' src='img/Thrones4.png'>

	<div class="container">
		
		
		<img id='blason' src='img/Puzzle.png'>
		<img id='blason' src='img/Teddy.png'>
		<img id='blason' src='img/Barbie.png'>
		<img id='blason' src='img/Playmobil.png'>
		<img id='blason' src='img/Lego.png'>


		
	</div>

	<img id='footer' src='img/Thrones3.png'>

</body>
</html>