<!DOCTYPE>
<html>
<div class="alert alert-danger">
	<strong>This email already has an email associated</strong>
	<p>Please enter another email or retrieve this email's account's password</p>
</div>
</html>