<!DOCTYPE html>
<html>
<head>
    <?php 
    $this->assign ('title','Diary');
    ?>
    
</head>
<body>
    <img id='titre' src='../img/Thrones4.png'>
    <table id="PlayerFighter" class="table table-striped table-bordered">
        <h4 id="ML10">Diary</h4>
        <thead>;
            <tr>
               <th> Name of the event </th>
               <th> Date</th>
               <th>Coordinate X</th>
               <th>Coordinate Y</th>
               
           </tr>
       </thead>
       
       <tbody>
           <?php
           
           $i = $length - 1;
           While( !empty($raw[$i])){
             
            
            
            echo "<tr>";
            echo "<td>".$raw[$i]['Event']['name']."</td>";
            echo "<td>".$raw[$i]['Event']['date']."</td>";
            echo "<td>".$raw[$i]['Event']['coordinate_x']."</td>";
            echo "<td>".$raw[$i]['Event']['coordinate_y']."</td>"; 
            echo "</tr>";  
            $i = $i - 1;
        }
        ?>
    </tdody>
</table>
<br>
<br>

<img id='footersight' src='../img/Thrones3.png'>
</body>
