<!DOCTYPE html>
<html>
<head>
	<?php $this->assign ('title','Fighter'); ?>
</head>
<body> 
	<img id='titre' src='../img/Thrones4.png'>

    <?php

    

    
    if($playerhavefighter)
    {
        ?>

        <?php

        ?>	


        <table id="PlayerFighter" class="table table-striped table-bordered">
           <h4 id="ML10">Your Fighter</h4>
           <?php
           
           echo "<thead>";
           echo "<tr>";
           echo "<th>".'Name'."</th>";
           echo "<th>".'Coordinate x'."</th>";
           echo "<th>".'Coordinate y'."</th>";
           echo "<th>".'Level'."</th>";
           echo "<th>".'Experience'."</th>";
           echo "<th>".'Skill Sight'."</th>";
           echo "<th>".'Skill Strength'."</th>";
           echo "<th>".'Skill Health'."</th>";
           echo "<th>".'Current Health'."</th>";
           echo "</tr>";
           echo "</thead>";
           
           echo "<tbody>";
           echo "<tr>";
           echo "<td>"."<img id='avatar' src='../img/avatars/avatar_".$fighterOfPlayer['Fighter']['id'].".png' alt='You do not have an avatar'>".$fighterOfPlayer['Fighter']['name']."</td>";
           echo '<td>'.$fighterOfPlayer['Fighter']['coordinate_x']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['coordinate_y']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['level']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['xp']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['skill_sight']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['skill_strength']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['skill_health']."</td>";
           echo "<td>".$fighterOfPlayer['Fighter']['current_health']."</td>";
           echo "</tr>"; 
           echo "</tdody>";
           echo "</table>";
           
       }
       else {
           
        echo '<div class="divforFighterGuild">';  
        
        echo "<h3>".'You need a fighter, please create one to claim the throne of games'."</h3>";

		// Set up Guild
        /**
         *@todo Put guild in Fighteradd
		*/
        
        
        
        echo $this->Form->create('Fighteradd', array(
          'type'=> 'file',
          'class' => 'form-horizontal', 
          'role' => 'form',
          'inputDefaults' => array(
              'format' => array('before', 'label', 'between', 'input', 'error', 'after'),
              'div' => array('class' => 'form-group'),
              
              'label' => array('class' => 'col-sm-1 control-label'),
              'between' => '<div class="col-lg-3">',
              'after' => '</div>',
              'error' => array('attributes' => array('wrap' => 'span', 'class' => 'help-inline')),
              )
          ));
        echo $this->Form->input('name',array('class' => 'form-control'));
        echo $this->Form->input('Upload file', array(
            'type'=>'file'));
        
        
        echo $this->Form->input ('Guild', array ('options' => array ('playmobil' => 'playmobil', 'barbie' => 'barbie', 'lego' => 'lego', 'teddy' => 'teddy', 'puzzle' => 'puzzle'), 'default' => 'playmobil',
          'class' => 'form-control'
          ));
        
        echo $this->Form->end(array(
          'class'=>'col-sm-offset-1 btn btn-warning',
          'label'=>'Create'
          ));


    }
    
    echo '</div>';
    

    ?>
    

    <img id='footersight' src='../img/Thrones3.png'>
</body>
</html>
