<!DOCTYPE html>
<html>
<head>
	<?php $this->assign ('title','Sign Out'); ?>
</head>

<body>

	<img id='titre' src='../img/Thrones4.png'>
	<div id="logoutMessage" class="container">
		<div class="jumbotron">
			<h1>Logout Successful</h1>      
			<p>Thank you for playing!</p>
			<p>See you soon because if you don't come back soon you will loose your throne</p>
		</div>      
	</div>

	<img id='footersight' src='../img/Thrones3.png'>
</body>
</html>